BWS_USER=you@bywatersolutions.com
BWS_PW=y0urP@ssw0rd
BWS_URL=http://tracker.devs.bywatersolutions.com
KOHA_USER=you@bywatersolutions.com
KOHA_PW=y0urP@ssw0rd
KOHA_URL=https://bugs.koha-community.org/bugzilla3
RT_USER=you
RT_PW=y0urP@ssw0rd
RT_URL=https://ticket.bywatersolutions.com
